<div class="auth-container">
  <h2>{{ isLoginMode ? 'Login' : 'Sign Up' }}</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" [(ngModel)]="user.username" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" [(ngModel)]="user.password" required>
    </div>
    <button type="submit">{{ isLoginMode ? 'Login' : 'Sign Up' }}</button>
  </form>
  <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
  <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>

  <p>
    <a (click)="onSwitchMode()">
      {{ isLoginMode ? 'Need an account? Sign Up' : 'Already have an account? Login' }}
    </a>
  </p>
</div>